<h3>Products</h3>
<div>
    <table class="table table-striped">
        <tr>
            <td></td>
            <td class="text-lg-right">
                <button class="btn btn-danger">X</button>
            </td>
        </tr>
    </table>

    <input type="text" required />
    <a href="#" class="btn btn-primary">Add Product</a>
</div>